<ion-header>
  <ion-toolbar>
    <ion-title>Family Tree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tree-container">
    <div class="tree">
      <ul>
        <li>
          <a href="#">
            <div class="profile-pic">
              <!-- Future picture: <img src="grandparent.jpg" alt="Grandparent"> -->
            </div>
            Grandparent
          </a>
          <ul>
            <li>
              <a href="#">
                <div class="profile-pic">
                  <!-- Future picture: <img src="parent1.jpg" alt="Parent 1"> -->
                </div>
                Parent 1
              </a>
              <ul>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <!-- Future picture: <img src="child1.jpg" alt="Child 1"> -->
                    </div>
                    Child 1
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <!-- Future picture: <img src="child2.jpg" alt="Child 2"> -->
                    </div>
                    Child 2
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="profile-pic">
                  <!-- Future picture: <img src="parent2.jpg" alt="Parent 2"> -->
                </div>
                Parent 2
              </a>
              <ul>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <!-- Future picture: <img src="child3.jpg" alt="Child 3"> -->
                    </div>
                    Child 3
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <!-- Future picture: <img src="child4.jpg" alt="Child 4"> -->
                    </div>
                    Child 4
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
