<ion-header>
  <ion-toolbar>
    <ion-title>Family Tree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tree">
    <ul>
      <li>
        <a href="#">Grandparent</a>
        <ul>
          <li>
            <a href="#">Parent 1</a>
            <ul>
              <li><a href="#">Child 1</a></li>
              <li><a href="#">Child 2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Parent 2</a>
            <ul>
              <li><a href="#">Child 3</a></li>
              <li><a href="#">Child 4</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ion-content>
