<ion-header>
  <ion-toolbar>
    <ion-title>Family Tree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tree-container">
    <div class="tree">
      <ul>
        <!-- Father -->
        <li>
          <a href="#">
            <div class="profile-pic">
              <img src="assets/pictures/father.jpeg" alt="Joel D. Sicat" />
            </div>
            Joel D. Sicat
          </a>
          <ul>
            <!-- Mother -->
            <li>
              <a href="#">
                <div class="profile-pic">
                  <img src="assets/pictures/mother.jpeg" alt="Lilibeth P. 0 Sicat" />
                </div>
                Lilibeth P. 0 Sicat
              </a>
              <ul>
                <!-- Children -->
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/3.jpeg" alt="Kent Asley Sicat" />
                    </div>
                    Kent Asley Sicat (25)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/5.jpeg" alt="Alexandra Kristille Sicat" />
                    </div>
                    Alexandra Kristille Sicat (23)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/6.jpeg" alt="Joel James Sicat" />
                    </div>
                    Joel James Sicat (22)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/8.jpeg" alt="Queen Heart Sicat" />
                    </div>
                    Queen Heart Sicat (17)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/7.jpeg" alt="Princess Sicat" />
                    </div>
                    Princess Sicat (16)
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="profile-pic">
                      <img src="assets/pictures/4.jpeg" alt="Cliff Jason Sicat" />
                    </div>
                    Cliff Jason Sicat (14)
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
